<section class="banner">
  <div class="container">
    <div class="banner-content">
      <h1 class="banner-title">
        Workspace
      </h1>
      <p class="banner-tagline">Choose work to do.</p>
      <a href="/admin/view-all-theatres" class="btn btn-primary banner-btn">View all Theatres</a>
      <a href="/admin/view-all-movies" class="btn btn-primary banner-btn">View all Movies/Events</a>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>
<button class="scrolltop-btn">
  <i class="fas fa-chevron-up"></i>
</button>
