<div class="faq-inner-content">
  <div class="contact-sec">
    <ul>
      Name:
      <li>
        <select id="categories">
          <option>SELECT ONE</option>
          <%for(var i=0;i<categories.length;i++){%>
          <option value="<%=categories[i].id%>">
            <%= categories[i].name%>
          </option>
          <%}%>
        </select>
      </li>
    </ul>
  </div>
</div>
