<footer class="<%= (typeof addClassToFooter !== 'undefined' && addClassToFooter === 1) ? 'bg-light' : ''%>">
  <div class="container">
    <ul>
      <li class="footer-links footer-logo-sec">
        <span class="footer-logo">
          <img src="https://arpit245.s3.us-east-2.amazonaws.com/logo.png" alt="footer-logo">
        </span>
        <span>Get your tickets booked.</span>
        <div class="copy-rights">
          <span>All Rights Reserved <br>
          </span>
        </div>
      </li>
      <li class="footer-links">
        <h4>
          <span>Our Company</span>
          <i class="fas fa-chevron-down d-md-none"></i>
        </h4>
        <ul class="footer-inner-links">
          <li><a href="/about-us">About Us</a></li>
          <li><a href="/contact-us">Contact</a></li>
          <li><a href="/faqs">Support/FAQs</a></li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
