<header>
  <div class="container">
    <a href="<%= baseUrl%>" class="logo">
      <img src="https://arpit245.s3.us-east-2.amazonaws.com/logo.png" alt="logo">
    </a>
    <nav>
      <% if(req.session && req.session.userId) {%>
      <div class="get-start">
        <button class="btn btn-primary" aria-label="Signup button">
          <span class="header-avatar"><i class="icon"></i></span>
          <span class="d-none d-iphone-block" onclick="logout()"> Logout</span>
        </button>
      </div>
      <% } %>
    </nav>
  </div>
</header>
