.d-none {
  display: none;
}

.d-block {
  display: block;
}

@media only screen and (min-width: 320px) {
  .d-xs-none {
    display: none;
  }

  .d-xs-block {
    display: block;
  }
}

@media only screen and (min-width: 576px) {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }
}

@media only screen and (min-width: 675px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-block {
    display: block;
  }
}

@media only screen and (min-width: 815px) {
  .d-iphone-none {
    display: none;
  }

  .d-iphone-block {
    display: block;
  }
}


@media only screen and (min-width: 970px) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }
}

@media only screen and (min-width: 1440px) {
  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }
}