<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <meta name="theme-color" content="#2480ee" />
  <meta name="msapplication-navbutton-color" content="#2480ee" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#2480ee" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="dns-prefetch" href="//<%= baseUrl %>">
  <link rel="shortcut icon" href="https://images.designpros.com/images/fav-icon.png" />
  <style media="screen">
  <%- include('../firstfold/'+ firstfold + '.css') %>

  </style>
</head>

<body>
  <%- include('../partials/header') %>
  <%- body %>
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/newft-styles.css">
  <!--STYLES END-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="/dependencies/lodash.js"></script>
  <script src="/dependencies/jquery.min.js"></script>
  <script src="/js/utilities/common.js"></script>
</body>

</html>
