/* color */
$mcolor: #00bd6a;
$color: #040d14;
$title-color:#1a1a1a;
$light-color:#777777;

/* Font size */
$prim-font: 14px;
$secon-font: 16px;
$third-font: 18px;

/* white spacing */
$s2: 0.2px;
$s4: 0.4px;
$s3: 0.3px;
$s6: 0.6px;

/*icons*/
$icons: 'https://images.template.net/images/img/pro-icons-22.svg'; 
