<section class="faq-section">
  <div class="container">
    <h1>Welcome</h1>
    <div class="faq-content">
      <div class="faq-inner-content">
        <h4>Choose</h4>
        <div class="contact-sec">
          <ul>
            Select the type:
            <li>
              <select id="type">
                <option>SELECT ONE</option>
                <option value="MOVIE">MOVIE</option>
                <option value="EVENT">EVENT</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="faq-content" id="categorySection" style="display: none">
    </div>
    <div class="faq-content" id="categoryDetail" style="display: none">
    </div>
    <div class="faq-content" id="confirmation" style="display: none">
    </div>
  </div>
</section>
<button class="scrolltop-btn">
  <i class="fas fa-chevron-up"></i>
</button>
<%- include('../partials/footer') %>
