<section class="faq-section">
  <div class="container">
    <h1>You are almost there...</h1>
    <div class="faq-content" id="signIn">
      <div class="faq-inner-content">
        <h4>Sign In</h4>
        <div class="contact-sec">
          <ul>
            <li>
              <input type="email" id="email" required placeholder="Email ID*">
              <span class='error-msg hide' id="error-msg-email"></span>
            </li>
          </ul>
          <ul>
            <li>
              <input type="password" id="password" required placeholder="Password*">
              <span class='error-msg hide' id="error-msg-password"></span>
            </li>
          </ul>
        </div>
        <button type="submit" class="btn btn-primary send-msg-btn" onclick="signIn(this)">Sign In</button>
        <div class="contact-us-success" id="sign-in-block" style="display:none;">
          <div class="model-success">
            <h2>Thanks for contacting us, our team will get back to you within 6 hours.</h2>
          </div>
        </div>
        <h5>Don't have an account? <a class="link signup-click" onclick="gotoSignUp(this);">Sign Up</a></h5>
        <span id="signin-msg"></span>
      </div>
    </div>
    <div class="faq-content" id="signUp" style="display: none">
      <div class="faq-inner-content">
        <h4>Sign Up</h4>
        <div class="contact-sec">
          <ul>
            <li>
              <input type="text" id="fname" required placeholder="Name*">
              <span class='error-msg hide' id="error-msg-fname"></span>
            </li>
          </ul>
          <ul>
            <li>
              <input type="email" id="femail" required placeholder="Email ID*">
              <span class='error-msg hide' id="error-msg-femail"></span>
            </li>
          </ul>
          <ul>
            <li>
              <input type="password" id="fpassword" required placeholder="Password*">
              <span class='error-msg hide' id="error-msg-fpassword"></span>
            </li>
          </ul>
        </div>
        <button type="submit" class="btn btn-primary send-msg-btn" onclick="signUp(this)">Sign Up</button>
        <div class="contact-us-success" id="sign-up-block" style="display:none;">
          <div class="model-success">
            <h2>Thanks for contacting us, our team will get back to you within 6 hours.</h2>
          </div>
        </div>
        <h5>Have an account? <a class="link signup-click" onclick="gotoSignIn(this);">Sign In</a></h5>
      </div>
    </div>
  </div>
</section>
<button class="scrolltop-btn">
  <i class="fas fa-chevron-up"></i>
</button>
<%- include('../partials/footer') %>
